<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" >
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:ecs-layout.json">
                <locationInfoEnabled>true</locationInfoEnabled>
            </JsonTemplateLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${env:DEFAULT_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>